TgCrypto
asyncio
ffmpeg-python
py-tgcalls==0.9.5
pyrogram==1.4.16
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python==1.4.9
youtube-search
httpx==0.13.3
python-dotenv
gitpython
aiofiles
aiohttp
requests
heroku3
psutil
future
wget
python-arq